body {
	background-image:url(img/w4.jpg);
	background-blend-mode:soft-light;
	background-repeat:no-repeat;
	/*background-position: center center;*/
	text-align: center;
	background-size:100%;
	background-attachment: scroll;
}